* {
  box-sizing: border-box;
}

html {
  background-color: rgb(37, 37, 61);
  color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: center;
}
.logo{
  height: 100px;
  width: auto;
}
.home-link, .tech-gear-link, .photo-gear-link, .wishlist-link {
  color: #f8f8f8;
  text-decoration: none;
  border: 1px solid #f8f8f8;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}

.techGear-slider, .photoGear-slider{
  margin: 0px 20px;
  background-color: #ffffff;
  color: black;
  border: 1px solid red;
}

#tech-gear-img, #photo-gear-img{
  height: 200px;
  width: auto;
}